<!DOCTYPE html>
<html lang="en">
  <%- include("headerComponent") -%>

  <body>
    <%- include("navComponent") -%>

    <section id="newTaskSection">
      <h3 class="sectionHeader"></h3>
      <form action="" class="newTaskForm">
        <div class="formGroup">
          <label for="taskName">Task Name: </label>
          <input
            type="text"
            name="taskName"
            id="taskName"
            placeholder="Enter New Task"
          />
        </div>
        <div class="formGroup">
          <label for="taskDeadline">Task Deadline: </label>
          <input type="date" name="taskDeadline" id="taskDeadline" />
        </div>
        <div class="formGroup">
          <label for="completed">Complete</label>
          <input
            type="radio"
            id="completed"
            name="taskStatus"
            value="complete"
          />
          <label for="active">Active</label>
          <input
            type="radio"
            id="active"
            name="taskStatus"
            value="active"
            checked
          />
        </div>
        <div class="formGroup">
          <button type="submit" class="submitButton">Create Task</button>
        </div>
      </form>
    </section>
    <section id="taskManagementArea">
      <div class="newTasksArea">
        <h4 class="taskManagementAreaColumn">New Tasks</h4>
        <div data-new-task></div>
      </div>
      <div class="currentTasksArea">
        <h4 class="taskManagementAreaColumn">Current Tasks</h4>
        <div data-current-task></div>
      </div>
      <div class="completedTasksArea">
        <h4 class="taskManagementAreaColumn">Completed Tasks</h4>
        <div data-completed-task></div>
      </div>
    </section>
    <template id="taskComponent">
      <div data-task-id class="taskContainer">
        <div class="taskHeader">
          <h5>Task Name</h5>
          <div class="taskHeaderDate">
            <h5 class="createdDate">Created Date</h5>
            <h5 class="deadline">Deadline Date</h5>
          </div>
        </div>
        <div class="taskContent">Content</div>
        <div>
          <p class="taskStatus">Active</p>
          <button class="deleteButton">x</button>
        </div>
      </div>
    </template>
  </body>
</html>
