<!DOCTYPE html>
<html lang="en">
  <%- include("loginHeaderTemplate") %> <%- include("errorTemplate") -%>
  <body>
    <form action="" class="loginForm">
      <div class="formGroup">
        <label for="email">Email: </label>
        <input type="text" name="email" id="email" placeholder="email" />
      </div>
      <div class="formGroup">
        <label for="password">password: </label>
        <input type="password" name="password" id="password" />
      </div>

      <div class="formGroup">
        <button type="submit" class="submitButton">Log In</button>
      </div>
    </form>
  </body>
</html>
