<section id="navigationSection">
    <div id="navbar">
      <div class="navGroup">
        <a class="navItem navLink navBarBrand">Task Management</s>
      </div>
      <div class="navGroup">
        <a class="navItem navLink">Dashboard</a>
        <a class="navItem navLink">Login</a>
      </div>
    </div>
  </section>