<section id="navigationSection">
    <div id="navbar">
      <div class="navGroup">
        <a id="navBrandLink" class="navItem navLink navBarBrand">Task Management</s>
      </div>
      <div class="navGroup">
        <a id="navDashboardLink" class="navItem navLink">Dashboard</a>
        <a id="navLoginLink" class="navItem navLink">Login</a>
      </div>
    </div>
  </section>