<section id="navigationSection">
  <div id="navbar">
    <div class="navGroup">
      <a id="navBrandLink" class="navItem navLink navBarBrand"
        >Task Management</a
      >
    </div>
    <div class="navGroup">
      <a id="navLoginLink" class="navItem navLink">Login</a>
    </div>
  </div>
</section>
<button type="button" class="button themeButton">Change Theme</button>
