<div class="userSettingsContainer">
  <select name="Themes" id="themeSelect">
    <option value="mintGreen">Mint Green</option>
  </select>
  <button class="saveTasksButton">Save Tasks</button>
</div>
