<div class="userSettingsContainer">
  <select name="Themes" id="themeSelect">
    <option value="mint green">Mint Green</option>
    <option value="red">Red</option>
    <option value="blue">Blue</option>
    <option value="purple">Purple</option>
  </select>
  <button class="saveTasksButton">Save Tasks</button>
  <button class="saveSettingsButton">Save Settings</button>
</div>
