* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --buttonBorderRadius: 0.2em;
  --buttonPadding: 0.4em;
  --errorColor: rgb(255, 68, 68);
  --navbarColor: hsl(174, 62%, 47%);
  --navbarTextColor: white;
  --taskColumnColor: hsl(174, 62%, var(--taskColumnColorLightness));
  --taskColumnColorLightness: 92%;
  --taskInputBottomBorder: 2px solid black;
  --taskInputWidth: 8em;
  --taskColumnBorder: 2px solid var(--navbarColor);
  --taskColumnBorderRadius: calc(var(--buttonBorderRadius) * 2);
}

.content {
  border-top: 2px solid var(--navbarColor);
  margin-top: 0.3em;
  padding: 0.2em;
}

.completedTasksArea {
  background-color: var(--taskColumnColor);
  border: none;
  border-radius: var(--taskColumnBorderRadius);
}

.currentTasksArea {
  background-color: var(--taskColumnColor);
  border: none;
  border-radius: var(--taskColumnBorderRadius);
}

[data-new-task] {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-current-task] {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-completed-task] {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropzone {
  min-height: 400px;
}

.deleteButton {
  background-color: white;
  border-color: white;
  color: var(--navbarColor);
  cursor: pointer;
  outline: auto;
  outline-color: var(--navbarColor);
  outline-width: thick;
}

.deleteButton:hover {
  background-color: var(--navbarColor);
  border: 2px solid var(--navbarColor);
  border-radius: var(--buttonBorderRadius);
  color: var(--navbarTextColor);
}

.draggingComponent {
}

#errorArea {
  align-items: center;
  border: none;
  background-color: var(--errorColor);
  border-radius: calc(var(--buttonBorderRadius) * 2);
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0.3em auto;
  width: 80%;
}

.errorAreaHidden {
  visibility: hidden;
}

#taskManagementArea h4 {
  display: flex;
  justify-self: center;
}

input {
  accent-color: var(--navbarColor);
}

#navbar {
  background-color: var(--navbarColor);
  border: 0.2em solid var(--navbarColor);
  color: var(--navbarTextColor);
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0.75rem;
}

#navbar a {
  padding: 0.22em;
}

#navbar a:hover {
  cursor: pointer;
}

#newTaskSection {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  margin-top: 3em;
}

.newTasksArea {
  background-color: var(--taskColumnColor);
  border: none;
  border-radius: var(--taskColumnBorderRadius);
}

.newTaskForm {
  width: 25%;
}

.newTaskForm .formGroup {
  padding: 0.5em;
}

.submitButton {
  background-color: var(--navbarColor);
  border: 2px solid var(--navbarColor);
  border-radius: var(--buttonBorderRadius);
  color: var(--navbarTextColor);
  padding: var(--buttonPadding);
}

.submitButton:hover {
  background-color: white;
  border-color: white;
  color: var(--navbarColor);
  cursor: pointer;
  outline: auto;
  outline-color: var(--navbarColor);
  outline-offset: 0.2em;
  outline-width: thick;
}

#taskManagementArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2em;
  margin: 0 auto;
  min-height: 500px;
  width: 80%;
}

.taskContainer {
  background-color: white;
  border: 2px solid var(--navbarColor);
  border-radius: calc(var(--buttonBorderRadius) * 2);
  cursor: move;
  margin-bottom: 0.22em;
  overflow-wrap: break-word;
  padding: var(--buttonPadding);
  width: calc(var(--taskInputWidth) + 100px);
}

#taskName,
#taskDeadline {
  border: none;
  border-bottom: var(--taskInputBottomBorder);
  outline: none;
  width: var(--taskInputWidth);
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5em;
}

@media screen and (max-width: 600px) {
  #taskManagementArea {
    grid-template-columns: 1fr;
  }

  .dropzone {
    min-height: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 820px) {
  #taskManagementArea {
    width: 95%;
  }

  .dropzone {
    min-height: auto;
  }
}

@media only screen and (min-width: 820px) and (max-width: 853px) {
  .taskContainer {
    width: 50%;
  }

  .dropzone {
    min-height: auto;
  }
}
